.main-section {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.message-input {
  width: 100%;
  height: 100%;
  resize: none;
  border: 1px solid #ababab;
}
